<md-subheader>About</md-subheader>
<md-content>
	<md-list>
		<md-list-item class="md-2-line">
			<img src="/img/ezpayplus.png" alt="company logo" class="md-avatar">
			<div class="md-list-item-text">
				<h3>{{company.name}}</h3>
				<p>Company</p>
			</div>
		</md-list-item>
		<md-list-item class="md-2-line">
			<div class="md-avatar" layout="row" layout-align="center center">
				<md-icon class="mdi mdi-map-marker grey"></md-icon>
			</div>
			<div class="md-list-item-text">
				<h3>{{company.address}}, {{company.city.name}} City, {{company.province.name}}, {{company.country.name}}, {{company.postal_code}}</h3>
				<p>Address</p>
			</div>
		</md-list-item>
		<md-list-item class="md-2-line">
			<div class="md-avatar" layout="row" layout-align="center center">
				<md-icon class="mdi mdi-phone grey"></md-icon>
			</div>
			<div class="md-list-item-text">
				<h3>{{company.contact_number}}</h3>
				<p>Contact Number</p>
			</div>
		</md-list-item>
		<md-list-item class="md-2-line">
			<h2 class="md-avatar" layout="row" layout-align="center center">
				<span class="md-headline secondary-text">P</span>
			</h2>
			<div class="md-list-item-text">
				<h3>{{company.pagibig}}</h3>
				<p>Pag-IBIG</p>
			</div>
		</md-list-item>
		<md-list-item class="md-2-line">
			<h2 class="md-avatar" layout="row" layout-align="center center">
				<span class="md-headline secondary-text">P</span>
			</h2>
			<div class="md-list-item-text">
				<h3>{{company.philhealth}}</h3>
				<p>PhilHealth</p>
			</div>
		</md-list-item>
		<md-list-item class="md-2-line">
			<h2 class="md-avatar" layout="row" layout-align="center center">
				<span class="md-headline secondary-text">S</span>
			</h2>
			<div class="md-list-item-text">
				<h3>{{company.sss}}</h3>
				<p>SSS</p>
			</div>
		</md-list-item>
		<md-list-item class="md-2-line">
			<h2 class="md-avatar" layout="row" layout-align="center center">
				<span class="md-headline secondary-text">T</span>
			</h2>
			<div class="md-list-item-text">
				<h3>{{company.tin}}</h3>
				<p>TIN</p>
			</div>
		</md-list-item>
	</md-list>
</md-content>
