<div infinite-scroll='type.paginateLoad()' infinite-scroll-distance="1" infinite-scroll-disabled="type.busy" infinite-scroll-parent ng-if="type.show">
	<md-list ng-if="subheader.current.label != 'Time Interpretations'">
		<md-list-item class="md-3-line" ng-repeat="type in type.items | filter: toolbar.searchText | orderBy:sortType:sortReverse" ng-if="showInactive || !type.deleted_at" ng-click="listItemAction(type)">
			<h2 class="md-avatar" ng-class="type.deleted_at ? 'accent-bg': 'primary-bg'" layout="row" layout-align="center center">
				<span class="md-headline white-text">{{type.name.charAt(0).toUpperCase()}} {{type.payroll.name.charAt(0).toUpperCase()}}</span>
			</h2>
			<div class="md-list-item-text">
				<h3>{{type.name}} {{type.payroll.name}} - {{type.description}} {{type.payroll.description}}</h3>
				<h4>
                    <span ng-if="type.working_days_per_year">Working days per year: {{type.working_days_per_year}} day<span ng-if="type.working_days_per_year > 1">s</span> |</span>
                    <span ng-if="type.working_hours_per_day">Working hours per day: {{type.working_hours_per_day}} hour<span ng-if="type.working_hours_per_day > 1">s</span> |</span>
                    <span ng-if="type.pay_frequency">Pay Frequency: {{type.pay_frequency}} |</span>
                    <span ng-if="type.time_interpretation.name">Time Interpretation: {{type.time_interpretation.name}}</span>
                    <span ng-if="type.start_cut_off">Start Cut-off: {{type.start_cut_off | date: 'EEEE, MMM. dd, yyyy'}} |</span>
                    <span ng-if="type.end_cut_off">End Cut-off: {{type.end_cut_off | date: 'EEEE, MMM. dd, yyyy'}} |</span>
                    <span ng-if="type.payout">Payout: {{type.payout | date: 'EEEE, MMM. dd, yyyy'}}</span>
                </h4>
				<p>
                    <span ng-repeat="item in type.government_contributions">{{item.name}}: <span ng-if="item.first_cut_off">1st,</span> <span ng-if="item.second_cut_off">2nd,</span> <span ng-if="item.third_cut_off">3rd,</span> <span ng-if="item.fourth_cut_off">4th</span> <span ng-if="!$last">|</span> </span>
				</p>
			</div>
		</md-list-item>
	</md-list>
	<!-- Time Interpretations -->
    <div ng-include="'/app/components/settings/templates/content/time-interpretations.template.html'" ng-if="subheader.current.label == 'Time Interpretations'" layout="row" layout-align="center center" flex></div>
</div>
<div layout="row" layout-align="center center" layout-padding layout-margin ng-if="isLoading">
	<md-progress-circular class="md-primary" md-diameter="60"></md-progress-circular>
</div>
<div layout-padding layout-margin ng-if="!type.items.length && type.show && !type.no_matches">
	Nothing to display.
</div>
<div layout-padding layout-margin ng-if="type.no_matches && type.show">
	<p>No results matching <strong class="accent-text">"{{query.searchText}}"</strong> were found.</p>
</div>