<md-dialog aria-label="Company Form"  flex flex-gt-sm="50" flex-gt-lg="40" ng-cloak>
    <form name="companyForm">
        <md-toolbar >
            <div class="md-toolbar-tools">
                <h2 class="white-text">About</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="mdi mdi-close mdi-24px" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content flex layout-padding layout-wrap>
            <div layout="row" layout-wrap flex>
                <!-- Name -->
                <md-input-container class="md-block" flex-xs="100" flex-sm="100" flex-gt-sm>
                    <label>Name</label>
                    <input type="text" name="Name" required ng-model="company.name">
                    <div ng-messages="companyForm.Name.$error" ng-if="companyForm.Name.$touched">
                        <div ng-message="required">Name is required.</div>
                    </div>
                </md-input-container>
            </div>
            <div layout="row" layout-wrap flex>
                <!-- Address -->
                <md-input-container class="md-block" flex-xs="100" flex-sm="100" flex-gt-sm>
                    <label>Address</label>
                    <input type="text" name="Address" required ng-model="company.address">
                    <div ng-messages="companyForm.Address.$error" ng-if="companyForm.Address.$touched">
                        <div ng-message="required">Address is required.</div>
                    </div>
                </md-input-container>
                <!-- City -->
                <md-autocomplete flex-xs="100" flex-sm="100" flex-gt-sm required md-input-name="City" md-floating-label="City" md-selected-item="city.searchItem" md-search-text="city.searchText" md-require-match md-items="item in city.getItems(city.searchText)" md-item-text="item.name" md-no-cache="true">
                    <md-not-found>
                        <p>No results matching <span class="primary-text">"{{toolbar.searchText}}"</span> were found.</p>
                    </md-not-found>
                </md-autocomplete>
            </div>
        </md-dialog-content>
    </form>
    <div layout="row" layout-align="end center">   
        <md-button ng-if="!busy" class="md-primary" aria-label="Submit" ng-click="submit()">
            Save
        </md-button>
        <md-progress-circular ng-if="busy" md-mode="indeterminate" class="md-primary" md-diameter="60"></md-progress-circular>
    </div>
</md-dialog>