<md-dialog aria-label="Group Form"  flex flex-gt-sm="50" ng-cloak>
    <form name="groupForm">
        <md-toolbar >
            <div class="md-toolbar-tools">
                <h2 class="white-text">Group</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="mdi mdi-close mdi-24px" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content flex layout-padding layout-wrap>
            <div layout="row" layout-wrap flex>
                <!-- Name -->
                <md-input-container class="md-block" flex-xs="100" flex-sm="100" flex-gt-sm>
                    <label>Name</label>
                    <input type="text" name="Name" required ng-model="group.name" ng-blur="checkDuplicate()">
                    <div class="pattern" ng-if="duplicate">Group already exists.</div>
                    <div ng-messages="groupForm.Name.$error" ng-if="groupForm.Name.$touched">
                        <div ng-message="required">Name is required.</div>
                    </div>
                </md-input-container>
                <!-- Description -->
                <md-input-container class="md-block" flex-xs="100" flex-sm="100" flex-gt-sm>
                    <label>Description</label>
                    <input type="text" name="Description" required ng-model="group.description">
                    <div ng-messages="groupForm.Description.$error" ng-if="groupForm.Description.$touched">
                        <div ng-message="required">Description is required.</div>
                    </div>
                </md-input-container>
            </div>
            <md-subheader>Check at least one module</md-subheader>
            <div layout="row" flex ng-if="!count">
                <md-checkbox ng-repeat="module in modules" ng-model="group.modules[$index]" aria-label="{{module.name}}" ng-true-value="{{module}}" ng-false-value="null" flex>
                    {{module.name}}
                </md-checkbox>
            </div>
        </md-dialog-content>
    </form>
    <div layout="row" layout-align="end center">   
        <md-button ng-if="!busy" class="md-primary" aria-label="Submit" ng-click="submit()">
            Save
        </md-button>
        <md-progress-circular ng-if="busy" md-mode="indeterminate" class="md-primary" md-diameter="60"></md-progress-circular>
    </div>
</md-dialog>