<md-dialog aria-label="Sanction Form"  flex flex-gt-sm="50" ng-cloak>
    <form name="sanctionLevelForm">
        <md-toolbar >
            <div class="md-toolbar-tools">
                <h2 class="white-text">Sanction</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="mdi mdi-close mdi-24px" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content flex layout-padding layout-wrap>
            <md-subheader class="md-accent" ng-if="error">Oops! Something went wrong! An error occured. Please try again.</md-subheader>
            <div layout="row" layout-wrap flex>
                <!-- Name -->
                <md-input-container class="md-block" flex-xs="100" flex-sm="100" flex-gt-sm>
                    <label>Name</label>
                    <input type="text" name="Name" required ng-model="sanction_level.name" ng-disabled="busy" ng-blur="checkDuplicate()">
                    <div class="pattern" ng-if="duplicate && sanctionLevelForm.Name.$valid">Sanction already exists.</div>
                    <div ng-messages="sanctionLevelForm.Name.$error" ng-if="sanctionLevelForm.Name.$touched">
                        <div ng-message="required">Name is required.</div>
                    </div>
                </md-input-container>
                <!-- Description -->
                <md-input-container class="md-block" flex-xs="100" flex-sm="100" flex-gt-sm>
                    <label>Description</label>
                    <input type="text" name="Description" required ng-model="sanction_level.description" ng-disabled="busy">
                    <div ng-messages="sanctionLevelForm.Description.$error" ng-if="sanctionLevelForm.Description.$touched">
                        <div ng-message="required">Description is required.</div>
                    </div>
                </md-input-container>
            </div>
            <div layout="row" flex layout-wrap>
                <!-- Sanction -->
                <md-input-container class="md-block" flex-xs="100" flex-sm="100" flex-gt-sm>
                    <label>Sanction</label>
                    <md-select name="Sanction" ng-model="sanction_level.sanction_type_id" required ng-if="sanctions.length && sanction_level" ng-change="checkDuplicate()">
                        <md-option ng-repeat="sanction in sanctions" value="{{sanction.id}}">
                            {{sanction.name}} - {{sanction.description}}
                        </md-option>
                    </md-select>
                    <div ng-messages="sanctionLevelForm.Sanction.$error" ng-if="sanctionLevelForm.Sanction.$touched">
                        <div ng-message="required">Sanction is required.</div>
                    </div>
                </md-input-container>
            </div>
        </md-dialog-content>
    </form>
    <div layout="row" layout-align="end center">   
        <md-button ng-if="!busy" class="md-primary" aria-label="Submit" ng-click="submit()">
            Save
        </md-button>
        <md-progress-circular ng-if="busy" md-mode="indeterminate" class="md-primary" md-diameter="60"></md-progress-circular>
    </div>
</md-dialog>