<md-dialog aria-label="User Form"  flex flex-gt-sm="50" ng-cloak>
    <form name="userForm">
        <md-toolbar >
            <div class="md-toolbar-tools">
                <h2 class="white-text">User</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="mdi mdi-close mdi-24px" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content flex layout-padding layout-wrap>
            <md-subheader class="md-accent" ng-if="error">Oops! Something went wrong! An error occured. Please try again.</md-subheader>
            <div layout="row" layout-wrap flex>
                <!-- Name -->
                <md-input-container class="md-block" flex-xs="100" flex-sm="100" flex-gt-sm>
                    <label>Name</label>
                    <input type="text" name="Name" required ng-model="user.name">
                    <div ng-messages="userForm.Name.$error" ng-if="userForm.Name.$touched">
                        <div ng-message="required">Name is required.</div>
                    </div>
                </md-input-container>
                <!-- Email -->
                <md-input-container class="md-block" flex-xs="100" flex-sm="100" flex-gt-sm ng-if="!edit">
                    <label>Email</label>
                    <input type="email" name="Email" required minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" ng-model="user.email" ng-blur="checkDuplicate()">
                    <div class="pattern" ng-if="duplicate && userForm.Email.$valid">Email already in use.</div>
                    <div ng-messages="userForm.Email.$error" ng-if="userForm.Email.$touched">
                        <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                            Email must be between 10 and 100 characters long and look like an e-mail address.
                        </div>
                    </div>
                </md-input-container>
            </div>
            <div layout="row" flex layout-wrap ng-if="!edit">            
                <!-- Password -->
                <md-input-container class="md-block" flex="100" flex-gt-sm="50">
                    <label>Password</label>
                    <input type="password" name="Password" required ng-model="user.password" ng-minlength="8">
                    <div class="pattern" ng-if="user.password != user.confirm && userForm.Password.$touched && userForm.confirmPassword.$touched">Passwords doesn't match.</div>
                    <div ng-messages="userForm.Password.$error" ng-if="userForm.Password.$touched">
                        <div ng-message="required">Password is required.</div>
                        <div ng-message="minlength">Password must be at least 8 characters.</div>
                    </div>
                </md-input-container>
                <!-- Confirm -->
                <md-input-container class="md-block" flex="100" flex-gt-sm="50">
                    <label>Confirm Password</label>
                    <input type="password" name="confirmPassword" required ng-model="user.confirm" ng-minlength="8">
                    <div class="pattern" ng-if="user.password != user.confirm && userForm.Password.$touched && userForm.confirmPassword.$touched">Passwords doesn't match.</div>
                    <div ng-messages="userForm.confirmPassword.$error" ng-if="userForm.confirmPassword.$touched">
                        <div ng-message="required">Confirm password is required.</div>
                        <div ng-message="minlength">Confirm password must be at least 8 characters.</div>
                    </div>
                </md-input-container>
            </div>
            <div layout="row" flex>
                 <!-- User Group -->
                <md-input-container class="md-block" flex-xs="100" flex-sm="100" flex-gt-sm>
                    <label>User Group</label>
                    <md-select name="Group" ng-model="user.group_id" required>
                        <md-option ng-repeat="group in groups | orderBy:'name'" value="{{group.id}}">{{group.name}} - {{group.description}}</md-option>
                    </md-select>
                    <div ng-messages="userForm.Group.$error" ng-if="userForm.Group.$touched">
                        <div ng-message="required">User Group is required.</div>
                    </div>
                </md-input-container>
            </div>
        </md-dialog-content>
    </form>
    <div layout="row" layout-align="end center">   
        <md-button ng-if="!busy" class="md-primary" aria-label="Submit" ng-click="submit()">
            Save
        </md-button>
        <md-progress-circular ng-if="busy" md-mode="indeterminate" class="md-primary" md-diameter="60"></md-progress-circular>
    </div>
</md-dialog>