<md-content layout-padding>
	<md-button ng-click="addNewEvent()">Add New Event</md-button>
	<md-button ng-click="side='left'">Left</md-button>
	<md-button ng-click="side='right'">Right</md-button>
	<md-button ng-click="side=''">Side to Side</md-button>
	<timeline>
		<timeline-event ng-repeat="event in events" side="{{side}}">
			<timeline-badge class="primary-bg">
				<mdi-icon class="mdi {{event.icon}}"></mdi-icon>
			</timeline-badge>
			<timeline-panel>
				<timeline-heading>
					<h4>{{event.title}}</h4>
				</timeline-heading>
				<p>{{event.content}}</p>
			</timeline-panel>
		</timeline-event>
	</timeline>
</md-content>